body
{
    padding-left:25%;
    padding-right:25%;
    background-color:aqua;
}
h1,h3,p
{
    text-align:center;
}
ul
{
    display: table;
    margin:auto;
}
ol
{
    display: table;
    margin:auto;
}
img
{
    display:block;
    margin:auto;
}